.wrap {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px auto 50px;
    grid-template-areas: "head head head" ". main ." "foot foot foot";
    grid-gap: 1em;
}

header {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    justify-self: center;
    align-self: center;
    grid-column: 1;
}

.top {
    justify-self: center;
    align-self: center;
    grid-column: 2;
}

.burger {
    justify-self: center;
    align-self: center;
    grid-column: 3;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px 300px 200px;
    grid-area: main;
}

#game{
    grid-row: 2;
    grid-column: 2;
    align-self: stretch;
}

.title {
    text-align: center;
    justify-self: stretch;
    grid-row: 1;
}

.maps {
    grid-row: 2;
    justify-self: stretch;
    align-self: center;
    border: 1px solid white;
}

.contacts {
    display: inline-block;
    grid-row: 3;
}

label {
    float: left;
    width: 150px;
    margin-top: 12px;
    padding-right: 12px;
    clear: left;
    text-align: right;

}

input, textarea {
    margin-top: 12px;
}

#submit {
    margin-left: 150px;
    padding: 0px 20px;
}

footer {
    grid-area: foot;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.copy {
    justify-self: center;
    align-self: center;
    grid-column: 1;
}

.botlogo {
    justify-self: center;
    align-self: center;
    grid-column: 3;
}