.burger div {
    width: 35px;
    height: 6px;
    background-color: #000000;
    margin: 6px 0;
}

body {
    background-color: #fdfdfd;

}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #769fcd;
    font-family: "Roboto", sans-serif;
}

header a:hover {
    border: 1px solid #000000;
    border-radius: 5px;

}

main {
    /*background-color: #fdfdfd;*/
    background-color: #769fcd;

}

.content a {

    text-decoration: none;
    padding: 5px 15px;
    margin: 10px;
    color: #000000;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-right: 5px solid #555555;
    border-left: 1px solid #f7fbfc;
    border-radius: 5px;
    height: 20px;
}

.content a:hover {
    border: 1px solid #000000;
    background-color: #f6fafb;
    border-right: 5px solid #000000;
    border-radius: 5px;
}

main img {
    margin: 10px;
    padding: 10px;
    border: 1px solid #f7fbfc;

}

main img:hover {
    border: 1px solid #0000cd;
}

.pagination a {
    padding: 0px 5px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.pagination a:hover {
    font-weight: bold;
    color: #3355ff;
}

footer {
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
}