
.top {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    text-align: right;
    border: 3px solid #000000;
}

.top a {
    border: 1px solid #c0c0c0;
    padding: 5px 15px;
    margin: 10px;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #c0c0c0;
}

a:hover {
    background-color: #ffaa00;
    color: #000000;
}

main {
    text-align: center;
}

.content {
    background-color: #919191;
}

footer {
    background-color: #c0c0c0;
    font-family: "Roboto", sans-serif;

}

.bottom a {
    border: 1px solid #c0c0c0;
    padding: 5px 15px;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #c0c0c0;
}

span {
    background-color: #c0c0c0;
    font-family: "Roboto", sans-serif;
    text-align: left;
    color: #000000;
    font-size: 15px;
}

h1 {
    weight: 32px;

}