main {

    display: grid;
    height: 100%;
    grid-template-rows: 2fr 2fr 4fr;

}

footer {
    display: flex;
    padding: 5px 5px;
    line-height: 0;
}

.bottom {
    float: right;
}

#googleMap {

}

